@import "import";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root{
  --field: #57c4c2;
  --lab: #8986c0;
  --library: #a9cf3c;
  --workshop: #27c1f0;
  --showroom: #ffd01c;
  --other: #d1ccba;
}

body.toolbar-horizontal{
  &.toolbar-tray-open{
    .menu{
      top: 79px;
    }
  }
  .menu{
    top: 40px;
  }
}

.menu{
  height: 100px;
  width: 100px;
  position: fixed;
  right: 0;
  top: 0;
  background: $primary;
  border-bottom-left-radius: 100%;
  display: flex;
  z-index: 3;
  transition: .4s ease-out;
  padding: 0 16px;
  flex-direction: column;
}

.menu-content{
  padding-top: 16px;
}

.menu-links{
  @include make-col(8);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu.-active{
  height: 100vh;
  width: 100vw;
  border-bottom-left-radius: 0;
  .menu-link{
    animation: .4s ease-out forwards fade-in;
    &:nth-child(1){
      animation-delay: .4s;
    }
    &:nth-child(2){
      animation-delay: .5s;
    }
    &:nth-child(3){
      animation-delay: .6s;
    }
  }
  .menu-header{
    animation: .1s ease-out forwards fade-in;
  }
}

@keyframes fade-in {
  from{
    transform: translate3d(0, -20%, 0);
  }
  to{
    transform: translate3d(0, 0, 0);
    opacity: 1;
    pointer-events: all;
  }
}

.menu-toggle{
  padding: 16px;
  font-size: 2rem;
  color: $black;
  position: absolute;
  z-index: 5;
  right: 0;
  background: $primary;
}

.menu-header{
  border-color: $black;
  height: fit-content;
  width: 100%;
  opacity: 0;
}

.brand.menu-brand{
  color: $black;
  background: $primary;
}

.menu-link{
  padding-bottom: 16px;
  opacity: 0;
  pointer-events: none;
}

.col--menu-img{
  @include make-col(4);
  height: 560px;
}

.menu-img{
  display: none;
}

body {
    background: $black;
}

.section--landing {
  margin: 16px 16px 128px 16px;
  height: calc(100vh - 80px);
  position: relative;
}

.container--landing{
  height: 100%;
  .row,
  .col--half{
    height: 100%;
  }
}

header{
  margin-top: 48px;
  border-bottom: 1px solid $off-white;
}

hr{
  opacity: .5;
}

.header--landing{
  position: relative;
  margin-left: 16px;
}

.brand{
  line-height: 24px;
  background: $black;
  z-index: 1;
  position: absolute;
  top: -32px;
  left: 0;
  padding-right: 4px;
}

.landing-p{
  position: absolute;
  position: absolute;
  padding-top: 24px;
}

.img--landing{
  height: 100%;
  object-fit: cover;
  width: calc(50vw - 12px);
}

.col--half{
  @include make-col-ready();
  @include make-col(6);
}

.col--landing{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1{
  line-height: $h1-line-height;
}

h1.serif{
  font-weight: 600;
  font-style: italic;
}

h1.sans-serif{
  font-size: 6rem;
}

.serif{
  font-family: $headings-font-family;
}

.sans-serif, h3{
  font-family: $font-family-sans-serif-2;
  font-weight: $font-weight-base;
}

.h1--offset{
  padding-left: 89px;
}

.clr--secondary{
  color: $secondary;
}

section{
  margin: 128px 0;
}

p{
  color: $off-white;
}

.col--card{
  @include make-col-ready();
  @include make-col(4);
  &:first-of-type{
    padding-left: 0;
  }
  &:last-of-type{
    padding-right: 0;
  }
}

.card-img{
  height: 560px;
  width: 100%;
  object-fit: cover;
}

.card-title{
  margin-top: 16px;
  padding: 4px 0 0 8px;
  border-top: 1px solid $off-white;
  border-left: 1px solid $off-white;
}

.link--projects-icon{
  font-size: 2rem;
  color: $primary;
  margin-bottom: -8px;
}

.link--projects{
  padding-top: 64px;
  display: flex;
  align-items: flex-end;
  color: $white;
  flex-direction: column;
}

h2.serif{
  font-size: 6rem;
  font-style: italic;
}

h2{
  line-height: 80px;
}

.col--about{
  padding-top: 64px;
}

h2 + p{
  padding-top: 16px;
}

.img--fill{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col--about-img{
  @include make-col(4);
  @include make-col-offset(2);
  padding-right: 0;
  margin-top: -16px;
}

.col--center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.col--bubble{
  @include make-col(4);
  height: 300px;
  background-image: url("/drupal/themes/custom/zjuuls_theme/images/circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.bubble-text{
  color: $primary;
  text-align: center;
}

.link--big{
  font-style: italic;
  position: absolute;
  padding-top: 64px;
}

.bi-arrow-up-right-circle{
  font-size: 4em;
  position: absolute;
  margin-left: 880px;
  margin-bottom: 160px;
  color: $secondary;
}

.section--link{
  padding-bottom: 128px;
}

footer{
  border-top: 1px solid $off-white;
  margin: 0 16px 0 16px;
  height: 120px;
  display: flex;
  align-items: center;
}

.copyright,
.socials{
  @include make-col(3);
}

.socials{
  justify-content: flex-end;
  &>a{
    padding-left: 8px;
    font-size: 1.5em;
    color: $off-white;
  }
}

.footer-item{
  display: flex;
  align-items: center;
}

.footer-links{
  justify-content: center;
  @include make-col(6)
}

.col--date{
  @include make-col(4);
  justify-content: flex-end;
  display: flex;
}

.col--project-img{
  @include make-col(8);
}

.project-img{
  width: 100%;
  max-height: 560px;
  object-fit: cover;
}

.project-title{
  padding: 56px 0
}

.col--body{
  @include make-col(6);
  padding-left: 0;
}

.cmd-method{
  display: flex;
  align-items: flex-end;
  padding-bottom: 8px;
}

.cmd-method--logo{
  height: 40px;
  width: 40px;
  margin-right: 16px;
}

.col--reflection{
  @include make-col(6)
}

.col--step-forward{
  @include make-col-offset(1);
  @include make-col(5)
}

.row--sub-conclusion{
  @include make-row();
  padding-top: 40px;
}

.row--intro{
  @include make-row();
}
