<section class="section--landing">
  <header class="container">
    <h4 class="brand">Zjuul<br> Rovers</h4>
  </header>
  <p class="landing-p">
    Portfolio semester 6 — ICT & Media design
  </p>
  <div class="container container--landing">
    <div class="row">
      <div class="col--half col--landing">
        <h1 class="serif clr--secondary">Creative</h1>
        <h1 class="sans-serif">WEB</h1>
        <h1 class="sans-serif h1--offset">DEV.</h1>
      </div>
      <div class="col--half">
        <img src="https://picsum.photos/2500/1000" alt="" class="img--landing">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col p-0">
        <h3><em>UITGELICHTE PROJECTEN</em></h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col--card">
        <img src="https://picsum.photos/2500/1000" alt="" class="card-img">
        <p class="card-title">Lorem ipsum — 12.2.2023</p>
      </div>
      <div class="col--card">
        <img src="https://picsum.photos/2500/1000" alt="" class="card-img">
        <p class="card-title">Lorem ipsum — 12.2.2023</p>
      </div>
      <div class="col--card">
        <img src="https://picsum.photos/2500/1000" alt="" class="card-img">
        <p class="card-title">Lorem ipsum — 12.2.2023</p>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-end">
        <a class="link--projects">
          <i class="bi bi-arrow-up-right link--projects-icon"></i>
          <h3>ALLE PROJECTEN</h3>
        </a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col p-0">
        <h3><em>OVER</em></h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-8">

      </div>
      <div class="col-4">

      </div>
    </div>
  </div>
</section>
