<section>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1 class="sans-serif">PROJECTS</h1>
      </div>
      <div class="filter">
        <i class="bi bi-funnel filter-toggle"></i>
      </div>
    </div>
    <div class="row">
      {{ views.exposedformprojectsblock_2 }}
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-5 p-0"><h3><em>TITEL</em></h3></div>
      <div class="col-3"><h3><em>PROJECT</em></h3></div>
      <div class="col-4"><h3><em>LEERUITKOMSTEN</em></h3></div>
    </div>
    {{ views.views_block__projects_block_2 }}
  </div>
</section>
