<section class="section--landing">
  <div class="container container--landing">
    <div class="row">
      <div class="col-9">
        <h1 class="sans-serif landing-title clr--secondary rellax" data-rellax-speed="-1">ZJUUL ROVERS</h1>
      </div>
    </div>
    <div class="row">
      <div class="col--landing-intro">
        <h2 class="sans-serif">Front-end development <span class="serif">& creative </span> web design.</h2>
      </div>
      <div class="col--landing-img">
        <img src="https://picsum.photos/2500/1000" alt="" class="img--landing rellax">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col p-0">
        <h3><em>UITGELICHTE PROJECTEN</em></h3>
        <hr>
      </div>
    </div>
    <div class="row">
      {{ views.views_block__projects_block_1_2 }}
    </div>
    <div class="row">
      <div class="col d-flex justify-content-end">
        <a class="link--projects" href="/drupal/projects">
          <i data-aos="fade-right" class="bi bi-arrow-up-right link--projects-icon"></i>
          <h3 data-aos="fade-left">ALLE PROJECTEN</h3>
        </a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col p-0">
        <h3><em>OVER</em></h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col--about">
        <h2 class="serif">Zjuul Rovers</h2>
        <h2 class="serif">—</h2>
        <h2 class="sans-serif">Front-end development <span class="serif"><em>&</em></span></h2>
        <h2 class="sans-serif">UX design</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in tempus metus. Integer efficitur dolor sit amet lorem posuere aliquet. Duis et placerat purus. Donec elit justo, pharetra nec bibendum vitae, lobortis ut felis. In ultrices ligula imperdiet ipsum convallis, vitae faucibus justo suscipit. Aenean placerat tellus ac lacinia vulputate. Fusce at ultricies neque. Vivamus convallis odio non mi molestie semper. Morbi sem massa, interdum sit amet vestibulum et, pretium quis ex. Etiam vel posuere urna. Suspendisse ut rutrum ante, a imperdiet tellus. Pellentesque auctor eros ac est pellentesque, vitae lobortis purus faucibus. In eget aliquam eros.</p>
      </div>
      <div class="col--img col--img--withtext">
          <img src="https://picsum.photos/2500/1000" alt="" class="img--fill rellax" data-rellax-speed="1">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <hr>
    </div>
    <div class="row position-relative">
      <div class="col--bubble rellax" data-rellax-speed="-1">
        <h3 class="bubble-text"><em>WELK PROCES HEB IK DIT SEMESTER DOORLOPEN?</em></h3>
      </div>
      <div class="col--center">
        <a href="/drupal/leeswijzer" class="link--big"><h1>LEESWIJZER</h1></a>
        <i class="bi bi-arrow-up-right-circle"></i>
      </div>
    </div>
  </div>
</section>
