<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="serif clr--secondary project-title">{{ node.title.value }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col--project-img">
        <img class="project-img" data-scroll data-scroll-speed="-1" src="./themes/custom/zjuuls_theme/images/placeholder.jpg" alt="">
      </div>
    </div>
  </div>
</section>
{% include directory ~ '/templates/content/partials/paragraphs.html.twig' %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h2 class="clr--secondary"><em>LEERUITKOMST</em></h2>
      </div>
      <div class="col-4">
        <h2 class="clr--secondary"><em>BEWIJS</em></h2>
      </div>
    </div>
    {{ views.views_block__projects_block_4 }}
  </div>
</section>
