<section class="section--landing">
  <div class="container container--landing">
    <div class="row">
      <div class="col-9">
        <h1 class="sans-serif landing-title clr--secondary" data-scroll data-scroll-speed="1">ZJUUL ROVERS</h1>
      </div>
    </div>
    <div class="row">
      <div class="col--landing-intro">
        <h2 class="sans-serif">Front-end development <span class="serif">& creative </span> web design.</h2>
        <a href="./leeswijzer" class="btn btn-primary btn--cta">
          Leeswijzer
        </a>
      </div>
      <div class="col--landing-img">
        <img src="./themes/custom/zjuuls_theme/images/landing.png" alt="" class="img--landing" data-scroll data-scroll-speed="-2">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col p-0">
        <h3><em>UITGELICHTE PROJECTEN</em></h3>
        <hr>
      </div>
    </div>
    <div class="row">
      {{ views.views_block__projects_block_1_2 }}
    </div>
    <div class="row">
      <div class="col d-flex justify-content-end">
        <a class="link--projects" href="./projects">
          <i data-aos="fade-right" class="bi bi-arrow-up-right link--projects-icon"></i>
          <h3 data-aos="fade-left">ALLE PROJECTEN</h3>
        </a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col p-0">
        <h3><em>OVER</em></h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col--about">
        <h2 class="serif">Zjuul Rovers —</h2>
        <h2 class="sans-serif">Front-end development <span class="serif"><em>&</em></span></h2>
        <h2 class="sans-serif">UX design</h2>
        <p>Front-end development en UX design zijn de punten waarop ik tijdens mijn ICT carrière de focus heb gelegd. Als media designer is mijn specialisatie front-end development, waar ik vooral develop binnen Drupal met Bootstrap en Twig. Daarentegen heb ik afgelopen periode zeker ook de focus gelegd op UX design en het creatieve deel hierbinnen. In dit portfolio licht ik mijn werkzaamheden toe van ICT & Media design semester 6. Aan de hand van de leeswijzer loop ik door het proces van dit semester, waarnaast aparte onderdelen individueel gedetailleerd worden toegelicht.</p>
      </div>
      <div class="col--img col--img--withtext">
          <img src="./themes/custom/zjuuls_theme/images/about.jpg" alt="" class="img--fill" data-scroll data-scroll-speed="1">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <hr>
    </div>
    <div class="row position-relative">
      <div class="col--bubble" data-scroll data-scroll-speed="-1">
        <h3 class="bubble-text"><em>WELK PROCES HEB IK DIT SEMESTER DOORLOPEN?</em></h3>
      </div>
      <div class="col--center">
        <a href="./leeswijzer" class="link--big"><h1>LEESWIJZER</h1></a>
        <i class="bi bi-arrow-up-right-circle"></i>
      </div>
    </div>
  </div>
</section>
