<footer>
  <div class="container">
    <div class="row">
      <div class="footer-item copyright">
        <p>© 2023</p>
      </div>
      <div class="footer-item footer-links">
        <h3><em><a>PROJECTEN</a> — <a>LEESWIJZER</a></em></h3>
      </div>
      <div class="footer-item socials">
        <a href="https://www.linkedin.com/in/zjuul-rovers-b86ab5234/"><i class="bi bi-linkedin"></i></a>
        <a href="https://git.fhict.nl/I456972/portfolio-sem6"><i class="bi bi-github"></i></a>
        <a href="https://www.instagram.com/zzzjuul/"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </div>

</footer>
