<header class="header--landing">
  <h4 class="brand">Zjuul<br> Rovers</h4>
</header>
<div class="menu">
  <i class="bi bi-list menu-toggle"></i>
    <header class="menu-header">
      <h4 class="menu-brand brand">Zjuul<br> Rovers</h4>
    </header>
    <div class="container menu-content">
      <div class="row">
        <div class="menu-links">
            <h1 class="sans-serif menu-link"><a href="">HOME</a></h1>
            <h1 class="sans-serif menu-link"><a href="">PROJECTEN</a></h1>
            <h1 class="sans-serif menu-link"><a href="">LEESWIJZER</a></h1>
         </div>
        <div class="col--menu-img">
          <img src="https://picsum.photos/2500/1000" alt="" class="img--fill menu-img">
        </div>
      </div>
    </div>
</div>
