<section class="section--paragraph">
  <div class="container">
    {% if paragraph.entity.field_title.value %}
      <div class="row">
        <div class="col p-0">
          <h3><em>{{ paragraph.entity.field_title.value }}</em></h3>
          <hr>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col--body">
        {{ paragraph.entity.field_body.value | raw }}
      </div>
      <div class="col--img col--img--withtext">
        <img src="{{ paragraph.entity.field_img.entity.field_media_image.entity.uri.value | image_style('basic') }}" alt="" class="img--fill">
      </div>
    </div>
  </div>
</section>
